<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table border="1" style="text-align: center;">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>since</th>
        <th>city</th>
        <th>average duration</th>
        <th>min duration</th>
        <th>max duration</th>
      </tr>
      <% data.forEach(e=> { %>
      <tr>
        <td><%= e.id %></td>
        <td><%= e.name %></td>
        <td><%= e.since %></td>
        <td><%= e.city %></td>
        <td><%= e.averageDuration %></td>
        <td><%= e.maxDuration %></td>
        <td><%= e.minDuration %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
